<div id="control-jog-xy-servo" class="jog-panel">
	<h1>Easy Servo</h1>
	<div>
		<button id="control-yinc-servo" class="btn box" data-bind="enable: isOperational(), click: function() { OctoPrint.control.sendGcode(up()); }"><i class="fa fa-arrow-up"></i></button>
	</div>
	<div>
		<button id="control-xdec-servo" class="btn box pull-left" data-bind="enable: isOperational(), click: function() { OctoPrint.control.sendGcode(left()); }"><i class="fa fa-arrow-left"></i></button>
		<button id="control-xyhome-servo" class="btn box pull-left" data-bind="enable: isOperational(), click: function() { OctoPrint.control.sendGcode(autoHome());}"><i class="fa fa-home"></i></button>
		<button id="control-xinc-servo" class="btn box pull-left" data-bind="enable: isOperational(), click: function() { OctoPrint.control.sendGcode(right()); }"><i class="fa fa-arrow-right"></i></button>
	</div>
	<div>
		<button id="control-ydec-servo" class="btn box" data-bind="enable: isOperational(), click: function() { OctoPrint.control.sendGcode(down()); }"><i class="fa fa-arrow-down"></i></button>
	</div>
</div>