<h4>Easy Servo Settings<div class="label label-info pull-right"><small style="color:white;">Please make sure that all prerequsites are met as descibed <a style="color:white;" href="https://github.com/jneilliii/OctoPrint-EasyServo#pre-installation-requirements">here</a>.</small></div></h4>
<form class="form" id="settings_plugin_EasyServo_form">
	<div class="control-group">
		<label class="control-label">{{ _('X Axis GPIO Number') }}</label>
		<div class="controls">
			<input type="number" class="input-mini" data-bind="value: settings.plugins.EasyServo.GPIOX">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">{{ _('Y Axis GPIO Number') }}</label>
		<div class="controls">
			<input type="number" class="input-mini" data-bind="value: settings.plugins.EasyServo.GPIOY">
		</div>
	</div>
</form>