<div id="control-easy-servo-wrapper">
    <div id="control-jog-xy-servo">
        <div id="control-jog-rel-servo" class="jog-panel">
            <h1>Easy Servo</h1>
            <div class="text-center">
                <button id="control-yinc-servo" class="btn box" data-bind="click: function() { OctoPrint.control.sendGcode(up()); }"><i class="fa fa-arrow-up"></i></button>
            </div>
            <div class="text-center">
                <button id="control-xdec-servo" class="btn box pull-left" data-bind="click: function() { OctoPrint.control.sendGcode(left()); }"><i class="fa fa-arrow-left"></i></button>
                <button id="control-xyhome-servo" class="btn box pull-left" data-bind="click: function() { OctoPrint.control.sendGcode(autoHome());}"><i class="fa fa-home"></i></button>
                <button id="control-xinc-servo" class="btn box pull-left" data-bind="click: function() { OctoPrint.control.sendGcode(right()); }"><i class="fa fa-arrow-right"></i></button>
            </div>
            <div class="text-center">
                <button id="control-ydec-servo" class="btn box" data-bind="click: function() { OctoPrint.control.sendGcode(down()); }"><i class="fa fa-arrow-down"></i></button>
            </div>
        </div>
        <div id="control-jog-abs-servo" class="jog-panel">
            <h1>&nbsp</h1>
            <div class="text-center">
                <label for="xAbsoluteGroup" class="control-label" id="x-absolute-label"></label>
                <div id="xAbsoluteGroup">
                    <input type="number" id="control-xangle" min="0" max="180" class="input-mini" data-bind="textInput: plugin_settings.xAngle">
                    <button data-bind="click: function() { OctoPrint.control.sendGcode(xabs()); }">Go!</button>
                    <button id="control-xhome-servo" class="btn box pull-left" data-bind="click: function() { OctoPrint.control.sendGcode(autoHomeX());}"><i class="fa fa-home"></i></button>
                </div>
            </div>
            <div class="text-center">
                <label for="yAbsoluteGroup" class="control-label" id="y-absolute-label"></label>
                    <div id="yAbsoluteGroup">
                        <input type="number" id="control-yangle" min="0" max="180" class="input-mini" data-bind="textInput: plugin_settings.yAngle">
                        <button data-bind="click: function() { OctoPrint.control.sendGcode(yabs()); }">Go!</button>
                        <button id="control-yhome-servo" class="btn box pull-left" data-bind="click: function() { OctoPrint.control.sendGcode(autoHomeY());}"><i class="fa fa-home"></i></button>
                    </div>
            </div>
        </div>
        <div id="control-jog-z-servo" class="jog-panel">
            <h1>&nbsp</h1>
            <div class="text-center">Z Tracking
                <label>
                    <button id="control-ztrack-servo" class="btn box pull-left" data-bind="enable: controlViewModel.isOperational(), click: function() { OctoPrint.control.sendGcode(ztrack());}"></button>
                </label>
            </div>
        </div>
        <div id="control-custom-servo-points" class="jog-panel">
            <h1>&nbsp</h1>
            <div class="text-center">Custom points
                <label>
                    <button id="control-custom-point1" type="button" class="btn btn-primary" data-bind="text: plugin_settings.point1, click: function() { OctoPrint.control.sendGcode(point1());}"></button>
                </label>
                <label>
                    <button id="control-custom-point2" type="button" class="btn btn-primary" data-bind="text: plugin_settings.point2, click: function() { OctoPrint.control.sendGcode(point2());}"></button>
                </label>
                <label>
                    <button id="control-custom-point3" type="button" class="btn btn-primary" data-bind="text: plugin_settings.point3, click: function() { OctoPrint.control.sendGcode(point3());}"></button>
                </label>
                <label>
                    <button id="control-custom-point4" type="button" class="btn btn-primary" data-bind="text: plugin_settings.point4, click: function() { OctoPrint.control.sendGcode(point4());}"></button>
                </label>
                <label>
                    <button id="control-custom-point5" type="button" class="btn btn-primary" data-bind="text: plugin_settings.point5, click: function() { OctoPrint.control.sendGcode(point5());}"></button>
                </label>
            </div>
        </div>
    </div>
</div>